@charset "UTF-8";

.bd-state-button {
    /* center the content both ways */
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    color: white;
    background: #2454a0;
    padding: 5px;
    min-height: 20px;
    border: 1px solid #034ec6;
    border-radius: 5px;

    cursor: pointer;
}

.bd-state-button:focus {
    font-weight: bold;
}

.bd-state-button.off {
    background: red;
}

.bd-state-button.on {
    background: green;
}



.bd-state-button:hover {
    background-color: #347bed;
}

.bd-state-button.disabled {
    background-color: #ddd;
}
