@charset "UTF-8";

.Italian {
    color: red;
}

.French {
    color: blue;
}

.Spanish {
    color: green;
}

.German {
    color: darkviolet;
}

.Swedish {
    color: orangered;
}

.Russian {
    color: cadetblue;
}

.Japanese {
    color: coral;
}
