@charset "UTF-8";

.bd-grid {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    max-height: 25em;
}

.bd-grid .header {
    display: flex;
    border-bottom: 2px solid purple;
}

.bd-grid .header > div {
    width: 2em;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid purple;

}

.bd-grid .header > div:first-child {
    border-left: none;
}

.bd-grid .body {
    flex-grow: 1;
    display: flex;
}

.bd-grid .rows-outer {
    flex-grow: 1;
    overflow: hidden;
}

.bd-grid .row {
    display: flex;
    border-top: 1px solid black;
}

.bd-grid .row:first-child {
    border-top: none;
}

.bd-grid .row > div {
    width: 2em;
    flex-grow: 1;
    border-left: 1px solid black;
}

.bd-grid .row > div:first-child {
    border-left: none;
}

.bd-scrollbar {
    width: 15px;
    border-left: 1px solid blue;
}

.bd-grid .header .bd-scrollbar-spacer {
    width: 17px;
    border: none;
    flex-grow: 0;
}

.bd-grid.schedule {
    max-width: 1200px;
}

.bd-grid.schedule .date,
.bd-grid.schedule .time {
    width: 100px;
    flex-grow: 0;
}

.bd-grid.schedule .bd-static-cell {
    padding: 3px;
}
