/*
StateButton
 */
@charset "UTF-8";

.bdt-state-button {
    /* center the content both ways */
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    margin: 10px;
    padding: 5px;
    min-height: 20px;
    border: 1px solid #034ec6;
    border-radius: 5px;
    cursor: pointer;
}

.bdt-state-button div {
    display: inline-block;
}

.bdt-state-button:hover {
    background-color: #77a7f4;
}

.bdt-state-button.state_1 {
    background-color: yellow;
}

.bdt-state-button.state_2 {
    background-color: red;
}

.bdt-state-button div {
    display: inline-block;
}

.bdt-state-button.icon-sort-none div:after {
    padding:5px;
    color:grey;
    content: "\ea48";
}

.bdt-state-button.icon-sort-asc div:after {
    padding:5px;
    font-weight:bold;
    color:red;
    content: "\ea48";
}
.bdt-state-button.icon-sort-desc div:after {
    padding:5px;
    font-weight:bold;
    color:red;
    content: "\ea49";
}
